
@font-face {
    font-family: "Kanit", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
}

@font-face {
    font-family: "Do Hyeon", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

//Global Variables
@bg_white:#F5F9FA;
@red_hue: #FF5C4C;
@grey: #BDBDBD;
@black: #333333;
@header_black: #141414; 
@kenit_regular: "Kanit";
@do_hyeon: "Do Hyeon";